.navbar {
  height: 100px;
  background-image: linear-gradient(90deg, #5d0d8b 20%, #9c2cdd 100%);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__right-text {
  color: #fff;
  font-size: 1.5rem;
}

.navbar__logo-img {
  width: 70px;
}

.navbar__logo-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}